<!-- <p>add-req-success works!</p> -->

<div class="col-md-12">
    <div class="card card-container">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <h1>CUSTOMER REQUEST SERVICE</h1>
<br>
      
    
      <br>
      <h3>Customer Added New Request Successfully</h3>
      <br>
      <h5>If you want to check all requests kindly click on dashboard page... </h5>
      <div class="col-md-3">
      <input type="button" class = "btn btn-success" value="SHOW REQUESTS"  (click)="getAddRequest();"/>
    </div>
      
  
     
    
  

    </div>
  </div>
  
